// Colors
$primary: #f5f2ef;
$dark-grey: hsl(224, 10%, 29%);
$blue: #99c5e8;
$orange: #e99140;
$white: #fff;

$light-grey: #e5e5e5;
$gray77:#C4C4C4;
$field_color:#F5F4EF;

// Breakpoint
$mobile: 320px;
$tablet: 768px;
$desktop: 1240px;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$montserrat: 'Montserrat', sans-serif;

// Font-Size
$font-size-h1: 38px;
$font-size-h2: 28px;
$font-size-p: 16px;
