<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Team HYF" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="./styles/css/about.css" />
    <title>BeHelp</title>
  </head>
  <body>
    <section class="home__about">
      <div class="home__about-card">
        <div class="home__about-container">
          <div class="home__about-header-div">
            <h1 class="home__about-h1">BeHelp</h1>
            <h2 class="home__about-h2">WHO ARE WE?</h2>
          </div>
          <div class="home__about-logo-div">
            <img class="home__about-logo" src="./img/logo_Be.png" alt="logo" />
          </div>
        </div>
        <div>
          <p class="home__about-text">
            BeHelp is a service that connects refugees and asylum seekers to
            local volunteers who are willing to share their expertise and skills
            pro bono. <br />
            <br />
            On BeHelp, you can find helpers from all around Belgium. 
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
