.home__about {
  box-sizing: border-box;
  border-radius: 20px;
  position: relative;
  height: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 8%;
  padding: 2% 2% 2% 2%;
  background: #f5f4ef80;
  width: 60%;

  &-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &-h1 {
    font-family: $montserrat;
    font-size: $font-size-h1;
    line-height: 30px;
    font-style: normal;
    font-weight: bold;
    padding-bottom: 6%;
    color: #424651;
  }

  &-h2 {
    font-family: $montserrat;
    font-weight: bold;
    font-size: $font-size-h2;
    line-height: 30px;
    color: #99c5e8;
  }

  &-logo {
    height: 75px;
    width: 85px;
    padding-left: 20%;
  }

  &-text {
    font-family: $montserrat;
    font-weight: normal;
    font-size: $font-size-p;
    line-height: 27px;
    letter-spacing: 0.02em;
    margin-top: 3%;
    color: #000000;
  }
}
