.volunteers__searchresults {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.cards__columns {
  display: flex;
  max-width: 100vw;
  flex-wrap: wrap;
}

.cards {
  display: flex;
  max-width: 100%;
  border-radius: 25px;
  border: 0.25rem solid #99c5e8;
  background: #ffffff;
  padding: 1rem;
  flex-wrap: nowrap;
  flex-basis: 500px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.card__body {
  display: flex;
  max-width: 60%;
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 1;
  row-gap: 1rem;
}

.cards__picture {
  display: flex;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}
.cards__picture > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.card__contact-btn {
  align-self: center;
  border-radius: 20px;
  background-color: $orange;
  padding: 0.5em 2em;
}

.card__contact-btn {
  margin-top: 3rem;
  align-self: flex-start;
  border-radius: 20px;
  background-color: $orange;
  padding: 0.5em 2em;
  color: $white;
  font-size: 0.9rem;
}
