

.card__container{
  border-radius: 25px;
  border: 2px solid #ad9821;
  padding: 20px;
  width: 200px;
  height: 150px;
}
.card-body {
  p {
    margin: 0;
  }
}

.card-image {
  img {
    width: 100%;
  }
}

.geo__logo {
  height: 24px;
  width: 24px;
}


img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  }
