.contactUs {
  margin: 4rem;

  @media (max-width: $tablet) {
    margin: 1rem;
  }

  &__h1 {
    text-align: left;
    color: $dark-grey;
    margin-bottom: 2rem;

    @media (max-width: 1200px) {
      margin-top: 4rem;
      margin-bottom: 1rem;
    }

    @media (max-width: $tablet) {
      //   max-width: 80%;
      // margin-top: 12rem;
      margin: 1rem;
      //   z-index: 0;
    }
  }

  &__content {
    display: flex;

    @media (max-width: $tablet) {
      margin: 1rem;
    }

    // styles for the left side
    &-image {
      // position: relative;
      height: 400px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;

      @media (max-width: 1200px) {
        width: 300px;
      }
      @media (max-width: $tablet) {
        width: 100px;
        // max-width: 80%;
        // margin: 1rem auto;
      }

      @media (max-width: 860px) {
        display: none;
      }
    }

    &-image img {
      height: 100%;
      object-fit: cover;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }

    // styles for the right side
    &-rightcontainer {
      display: flex;
      background-color: $blue;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;

      @media (max-width: 860px) {
        border-radius: 20px;
      }

      padding: 2rem;
    }
  }
}

// styles for the inputs
input[type="text"],
[type="email"],
textarea {
  border-radius: 20px;
  // display: block;
  width: 100%;
  border: 1px solid #f5f4ef;
  padding: 7px 20px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  background-color: #f5f4ef;
  margin-bottom: 16px;
}

input[type="submit"] {
  width: 120px;
  height: 44px;
  background: #e99140;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 20px;
  border-style: hidden;
  font-size: 0.8rem;
  text-transform: uppercase;
}
input[type="submit"]:hover {
  background-color: #f3eee9;
}
