.footer {
  background: $dark-grey;
  width: 100%;
  padding: 0.5rem 4rem;
  display: flex;
  flex-direction: row;
  bottom: 0;
  justify-content: space-between;

  &__logos {
    display: flex;
    justify-content: left;
    width: 30%;

    &-behelp {
      height: 50%;
      margin: auto 0;
    }
    &-hyf img {
      height: 50%;
    }
    &-hyf {
      background: white;
      margin: auto 0;
      padding: 0.2rem;
      width: 100%;
    }
  }
  &__text {
    margin: 4px 0;
    color: $primary;
    text-align: center;
    // background-color: blueviolet;
    // width: 30%;

    &-p {
      margin: 0px;
      font-family: $montserrat;
      font-weight: 500;
      font-style: normal;
      font-size: 0.68rem;
    }
  }

  &__icons {
    display: flex;
    text-align: center;
    margin: auto 0;

    a {
      background-color: $primary;
      height: 25px;
      width: 25px;
      border-radius: 10px;
      margin: 0 5px;

      .fa {
        border-radius: 10px;
        height: 25px;
        width: 25px;
        font-size: 24px;
        text-align: center;
        margin: 0px;
      }
    }
    .fa:hover {
      opacity: 0.7;
    }
  }
}
