.footer {
  background: $dark-grey;
  width: 100%;
  padding: 1em 4em;
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;

  &__logos {
    display: flex;
    justify-content: left;
    text-align: center;
    width: 40%;

    &-behelp {
      width: 200px;
      height: 53.02px;
      margin: auto 0;
    }
    &-hyf {
      width: 77px;
      height: 41.47px;
      background-color: white;
      margin-left: 20px;
      margin-top: 10px;
    }
  }
  &__text {
    color: white;
    text-align: center;
    width: 50%;

    &-p {
      margin-left: 10px;
      font-family: $montserrat;
      font-weight: 700;
      font-style: normal;
      font-size: 15px;
    }
  }

  &__icons {
    display: flex;
    text-align: center;
    margin: auto 0;

    .fa {
      border-radius: 10px;
      height: 30px;
      width: 30px;
      background: white;
      color: $dark-grey;
      font-size: 28px;
      text-align: center;
      margin: 0 5px;
    }

    .fa:hover {
      opacity: 0.7;
    }
  }
}
