.header {
  font-family: $montserrat;
  font-weight: 400;
  text-decoration-color: $dark-grey;
  width: 100%;
  padding: 1em 4em;

  &__nav {
    width: 100%;
    height: 4em;
    text-align: justify;
    display: flex;
    letter-spacing: 1px;

    &-logo {
      width: 200px;
      height: 53.02px;
      margin: auto 0;
    }

    &-list {
      display: flex;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      height: 4em;

      .link {
        width: 7rem;
      }
      .item {
        align-items: center;
        margin: 0 15px;
      }
    }
    &-features {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 0 3px;

      select {
        -moz-appearance: none;
        -webkit-appearance: none;
        border: none;
        position: relative;
        outline: none;
        padding: 5px;
        padding-right: 20px;
        font-family: $montserrat;
      }
      select:hover {
        cursor: pointer;
        text-decoration: underline;
      }

      button {
        @media (max-width: $tablet) {
          display: none;
        }
        background-color: transparent;
        border: 3px solid;
        border-radius: 20px;
        cursor: pointer;
        display: block;
        text-align: center;
        font-family: $montserrat;
        font-size: 14px;
        padding: 8px 16px;
        margin: 20px auto;
        text-decoration: none;
      }

      .btn-signup {
        border: 3px solid $orange;
        width: 100px;
        box-sizing: border-box;
      }

      .btn-signup:hover {
        background-color: $orange;
        color: white;
      }

      .btn-login {
        width: 80px;
        border: none;
        text-decoration: underline;
      }

      .p-username {
        font-size: 10px;
        color: $orange;
      }

      .none {
        display: none;
      }

      .usermenu {
        position: relative;
        margin: auto;
        display: inline-block;
        z-index: 100;
      }
      .usermenu-list {
        background-color: $primary;
        border-radius: 20px;
        border-color: $dark-grey;
        border: 2px;
        width: 100px;
        position: absolute;
        right: 10px;
      }

      .img-username {
        height: 25px;
        margin: auto 0;
        border-radius: 50%;
      }

      .img-username:hover {
        cursor: pointer;
      }

      .usermenu-list {
        margin: 0 auto;
        padding: 10px;
      }

      .usermenu-a {
        font-size: 12px;
      }
    }
  }
}
.header::after {
  content: "";
  display: inline-block;
  width: 100%;
}
