html {
    height: 100%;
}
.registration{
    height: 80%;
    display: flex;
    width: 70%;
   
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 5%;
    border-radius: 30px;
    
    
        &__image{
            width: 100%;
            height: 100%;
            padding: 0;
        }

        &__image img {
            width: 100%;
            height: 100%;
        }

        &__form{
            
            padding: 20px 20px 20px 20px;
            background-color: #99c5e8;
            width: 120%;
            border-radius: 0px 10px 10px 0px;
            display: grid;
            grid-template-columns: 40% 60%;
            grid-template-rows: 7% 25% 75%;
            grid-template-areas: 
            "title title"
            "icon short "
            "long long ";
            column-gap: 0px;
            row-gap: 0px;
            
            &-options{

                select{
                    background: #F5F4EF;
                    border-radius: 20px;
                    height: 2.5em;
                    border:none;
                    margin: 6px;
                    padding: 0 20px;
                    width: 100%;
                    font-weight: lighter;
                }
        
            }
            
                .input{
                    background: #F5F4EF;
                    border-radius: 20px;
                    height: 24%;
                    border:none;
                    margin: 6px;
                    padding: 0 20px;
                    width: 100%;
                    font-weight:lighter;
                }

        &-foto{
            background: #F5F4EF;
            grid-area: icon;
            border-radius: 20px;
            margin: 10px;
        }

        &-short{
            grid-area: short;
            padding: 10px;
            &-row{
                display:flex;
                .input{
                    width: 55%;
                    padding: 7px;
                    display: inline-flex;
                
                
                    
                }
            }
        
        }
        &-long{
            grid-area: long;
            padding: 10px;

            .input{
                height: 10%;
            }

        &-button{
            &-rbtn{
                width: 100%;
                float: right;
                margin: 30px 0;
            }
           
        
          }
        }
    }
}
.container{
    font-size: 70%;
    color: white;
    &__group{
        
    }

}
.title{
    grid-area: title;

}


.description{
    background: #F5F4EF;
    border-radius: 20px;
    height: 24%;
    border:none;
    margin: 6px;
    padding: 0 20px;
    width: 100%;
    font-weight:lighter;
}

label {
    font-size: 12px;
    font-weight: bold;
    font-family: 'Montserrat';
    margin-bottom: 2px;
    display: block;
    color: white;

}

.form-radio {
    display:flex;
    width: 50%;
    input {
        width: auto;
        display: inline-block;
    }
}
.radio-label {
    padding-right: 2%;
    margin-left:20px;
   
}

.form-radio-item {
    position: relative;
    margin-right: 10%;
    label {
        
        font-weight: 500;
        font-size: 12px;
        padding-left: 15px;
        position: relative;
        z-index: 9;
        display: block;
        cursor: pointer;
    }
}

.check{
    display: inline-block;
    position: absolute;
    border: 1px solid white;
    border-radius:50%;
    height: 13px;
    width: 13px;
    top: 4px;
    left: 0px;
      z-index: 5;
      transition: border .25s linear;
      -webkit-transition: border .25s linear;
    &:before {
        position: absolute;
        display: block;
        content: '';
        width: 9px;
        height: 9px;
        border-radius:50%;
        top: 2px;
        left: 2px;
        margin: auto;
        transition: background 0.25s linear;
        -webkit-transition: background 0.25s linear;
    }
}
input[type=radio] {
    position: absolute;
    visibility: hidden;
    &:checked ~ .check {
        border: 1px solid orange;
    }
    &:checked ~ .check::before {
        background: orange;
    }
}
