.registration{
    height: 75%;
    width: 50%;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    
    
    &__image{
        width: 50%;
        height: 100%;
        padding: 0;
    }

    &__image img {
        width: 100%;
        height: 100%;
    }
    &__form{
    
        padding: 30px;
        background: #99C5E8;
        width: 50%;
        height: 100%;
        border-radius: 0px 10px 10px 0px;
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 10% 25% 65%;
        grid-template-areas: 
        "title title"
        "icon short "
        "long long ";
        column-gap: 0px;
        row-gap: 0px;

        &-foto{
            background: #F5F4EF;
            grid-area: icon;
            border-radius: 20px;
        }

        &-short{
            grid-area: short;
            padding: 10px;
        
        }
        &-long{
            grid-area: long;
            padding: 10px;
        
        }
        &-button{
            width: 100%;
            display: flex;
            margin: 30px 0;
        }
    }

}

.title{
    grid-area: title;
    margin: 5px;
}

input{
    background: #F5F4EF;
    border-radius: 20px;
    width: 70%;
    height: 2em;
    border:none;
    margin: 5px;
    padding: 0 30px;
}


.btn{
    border: 1px solid #fff;
    padding: 10px;
    background: transparent;
    border-radius: 20px;
    width: 50%;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
}







