.search {
    position: relative;
    padding: 3em 0em;

    &__background {
        position: relative;
        text-align: center;
        color: $white;
        width: 100%;
        padding: 40px 0;

        &-img {
            width: 100%;
        }

        &-decor {
            position: absolute;
            bottom: 30%;
            right: 10%;
            width: 80%;
            margin: 0 auto;
            padding: 2em;
            background: rgba(66, 70, 81, 0.3);
            border-radius: 20px;
        }

        &-panel{
            width: 100%;
            display: flex;
            justify-content:space-evenly;
        }

        &-criteria {
            padding: 20px auto; 
        }

        .btn-secondary {
            background-color: $primary;
            color:$blue;
            font-size: 12px;
            width: 150px;
            min-width: 100px;
        }

        .dropdown-toggle {
            max-width: 30px;
            min-width: 30px;
            color: $dark-grey;
        }

        .search-btn {
            background-color: $orange;
            border-radius: 10px;
            border-color: $orange;
            border-style: none;
            width: 80px;
        }

        .search-icon {
            height: 20px;
            margin: 5px;
        }
    }
}
