div#app {
  display: block;
  text-align: center;
  margin-bottom: 100px;
}

.login__page {
  display: inline-block;
  text-align: center;
  width: 500px;
  height: 340px;
  background: #F5F4EF;
  border: 3px;
  box-sizing: border-box;
  border-radius: 20px;
}


.sign__text {
  width: 200px;
  height: 49px;
  display: inline-block;
  margin-top: 50px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 49px;
  text-transform: uppercase;
  color: #424651;
}

.email__box {
  padding-block: 6px;
  padding-inline: 5px;
  width: 300px;
  
}

.password__box {
  margin-block: 10px;
  padding-block: 6px;
  padding-inline: 5px;
  width: 300px;
}

.login__btn {
  width: 150px;
  height: 44px;
  background: #E99140;
  border-radius: 20px;
}

.signup__text{
  color: #E99140;
}

.p1 {
  width: 500px;
  height: 22px;
  padding-top: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #C4C4C4;
}

.p2 {
  width: 300px;
  height: 22px;
  margin-inline: 40px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #C4C4C4;
}