div#app {
  display: block;
  text-align: center;
  margin-bottom: 100px;
}

.login__page {
  display: inline-block;
  text-align: left;
  padding-left: 40px;
  width: 480px;
  height: 350px;
  background: #F5F4EF;
  box-sizing: border-box;
  border-radius: 20px;
}


.sign__text {
  width: 200px;
  margin-top: 45px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  color: #424651;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #F5F4EF;
}

.email__box {
  padding-block: 2px;
  width: 400px;
  font-size: 14px;

}

.password__box {
  margin-block: 6px;
  margin-top: 20px;
  padding-block: 2px;
  width: 400px;
  font-size: 14px;
}

.login__btn {
  width: 120px;
  height: 44px;
  background: #E99140;
  margin-top: 15px;
  border-radius: 20px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  font-size: 14px;
  
}

.signup__text {
  color: #E99140;
}

.p1 {
  width: 500px;
  height: 22px;
  padding-top: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;

  color: #C4C4C4;
}

.p2 {
  width: 300px;
  height: 22px;
  font-family: Montserrat;
  font-style: normal;
  font-size: 16px;
  margin-top: 6px;
  text-decoration-line: underline;
  color: #C4C4C4;
}