html {
  position: relative;
  width: 1440px;
  height: 2420px;

  background: #ffffff;
}
.our_service_container {
  position: absolute;
  width: 1268px;
  height: 666px;
  left: 86px;
  top: 1255px;

  background: #99c5e8;
  border-radius: 20px;
}

.our_service_heading1 {
  position: absolute;
  width: 362px;
  height: 49px;
  left: 140px;
  top: 80px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  /* identical to box height */

  color: #424651;
}

.our_service_text {
  position: absolute;
  width: 343px;
  height: 150px;
  left: 140px;
  top: 200px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;

  color: #000000;
}
.our_service_heading2 {
  position: absolute;
  width: 478px;
  height: 49px;
  left: 634px;
  top: 130px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  /* identical to box height */

  color: #ffffff;
  border: 2px solid #ffffff;
}

.our_service_heading2_line {
  position: absolute;
  width: 480px;
  height: 0px;
  left: 634px;
  top: 230px;

  border: 1px solid #000000;
}

.legal_icon_text,
.translation_icon_text,
.mental_health_icon_text,
.host_families_icon_text,
.education_icon_text,
.social_assistance_icon_text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.legal_icon {
  position: absolute;
  width: 171.91px;
  height: 24px;
  left: 634px;
  top: 260px;
}
.legal_icon_text {
  position: absolute;
  width: 171.91px;
  height: 24px;
  left: 665px;
  top: 235px;
}
.legal_icon_line,
.translation_icon_line,
.mental_health_line,
.host_families_line,
.education_line,
.social_assistance_line {
  position: absolute;
  width: 480px;
  height: 0px;
  left: -30px;
  border: 1px solid #000000;
  top: 50px;
}

.translation_icon {
  position: absolute;
  width: 127.38px;
  height: 24px;
  left: 634px;
  top: 310px;
}

.translation_icon_text {
  position: absolute;
  width: 171.91px;
  height: 24px;
  left: 665px;
  top: 285px;
}

.mental_health_icon {
  position: absolute;
  width: 147.05px;
  height: 24px;
  left: 634px;
  top: 360px;
}

.mental_health_icon_text {
  position: absolute;
  width: 147.05px;
  height: 24px;
  left: 665px;
  top: 338px;
}

.host_families_icon {
  position: absolute;
  width: 282px;
  height: 24px;
  left: 634px;
  top: 410px;
}
.host_families_icon_text {
  position: absolute;
  width: 282px;
  height: 24px;
  left: 665px;
  top: 382px;
}

.education_icon {
  position: absolute;
  width: 465px;
  height: 24px;
  left: 634px;
  top: 460px;
}

.education_icon_text {
  position: absolute;
  width: 465px;
  height: 24px;
  left: 665px;
  top: 438px;
}

.social_assistance_icon {
  position: absolute;
  width: 513px;
  height: 24px;
  left: 634px;
  top: 510px;
}
.social_assistance_icon_text {
  position: absolute;
  width: 513px;
  height: 24px;
  left: 665px;
  top: 485px;
}
