@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat;
}

a {
  color: #424651;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #424651;
}

a::after {
  color: #424651;
  text-decoration: none;
}

h1 {
  font-weight: bolder;
  opacity: 100%;
}

h2 {
  font-weight: bold;
  opacity: 100%;
  font-size: 32px;
}

ul {
  list-style-type: none;
}

button {
  appearance: none;
}

.header {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-decoration-color: #424651;
  width: 100%;
  padding: 1em 4em;
}

.header__nav {
  width: 100%;
  height: 4em;
  letter-spacing: 0.09rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-logo {
  width: 200px;
  height: 53.02px;
  margin: auto 0;
}

.header__nav-list {
  display: flex;
  margin: 0 auto;
  align-items: center;
  height: 4em;
}

.header__nav-list .item {
  justify-content: space-between;
  margin-left: 4rem;
}

.header__nav-features {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 3px;
}

.header__nav-features select {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  position: relative;
  outline: none;
  padding: 5px;
  padding-right: 20px;
  font-family: "Montserrat", sans-serif;
}

.header__nav-features select:hover {
  cursor: pointer;
  text-decoration: underline;
}

.header__nav-features button {
  background-color: transparent;
  border: 3px solid;
  border-radius: 20px;
  cursor: pointer;
  display: block;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  padding: 8px 16px;
  margin: 20px auto;
  text-decoration: none;
}

.header__nav-features .btn-signup {
  border: 3px solid #e99140;
  width: 100px;
  box-sizing: border-box;
}

.header__nav-features .btn-signup:hover {
  background-color: #e99140;
  color: white;
}

.header__nav-features .btn-login {
  width: 80px;
  border: none;
  text-decoration: underline;
}

.header__nav-features .p-username {
  font-size: 10px;
  color: #e99140;
}

.header__nav-features .none {
  display: none;
}

.header__nav-features .usermenu {
  position: relative;
  margin: auto;
  display: inline-block;
  z-index: 100;
}

.header__nav-features .usermenu-list {
  background-color: #f5f2ef;
  border-radius: 20px;
  border-color: #424651;
  border: 2px;
  width: 100px;
  position: absolute;
  right: 10px;
}

.header__nav-features .img-username {
  height: 25px;
  margin: auto 0;
}

.header__nav-features .usermenu-list {
  margin: 0 auto;
  padding: 10px;
}

.header__nav-features .usermenu-a {
  font-size: 12px;
}

.hamburger {
  display: none;
}

.hamburger-bar {
  display: block;
  width: 27px;
  height: 4px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

.hamburger:active:nth-child(2) {
  opacity: 0;
}

.hamburger:active:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger:active:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
}

@media only screen and (max-width: 768px) {
  .header__nav-list {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .header__nav-list .item {
    margin: 2.5rem 0;
  }
  .header__nav-list:active {
    left: 0;
  }
}

.home__about {
  box-sizing: border-box;
  border-radius: 20px;
  position: relative;
  height: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 8%;
  padding: 2% 2% 2% 2%;
  background: #f5f4ef80;
  width: 60%;
}

.home__about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home__about-h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  line-height: 30px;
  font-style: normal;
  font-weight: bold;
  padding-bottom: 6%;
  color: #424651;
}

.home__about-h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 30px;
  color: #99c5e8;
}

.home__about-logo {
  height: 75px;
  width: 85px;
  padding-left: 20%;
}

.home__about-text {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.02em;
  margin-top: 3%;
  color: #000000;
}

.services {
  display: flex;
  height: auto;
  margin: 0% 8%;
  margin-bottom: 10%;
  padding: 6% 5%;
  background: #99c5e8;
  border-radius: 20px;
  font-family: Montserrat;
  font-style: normal;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .services {
    display: flex;
    flex-direction: column;
    padding: 5% 0% 5% 8%;
    margin: 0% 0% 8% 0%;
  }
}

.services span {
  padding-right: 8%;
}

.services__left {
  justify-content: space-between;
}

@media (max-width: 768px) {
  .services__left {
    padding-right: 6%;
  }
}

.services__left-hdr {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.5rem;
  color: #424651;
  text-transform: uppercase;
  padding-bottom: 23%;
}

@media (max-width: 768px) {
  .services__left-hdr {
    padding-bottom: 4%;
  }
}

.services__left-txt {
  width: 70%;
  height: auto;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.8rem;
  letter-spacing: 0.02em;
  text-align: justify;
  color: #000000;
}

@media (max-width: 768px) {
  .services__left-txt {
    width: 100%;
    text-align: justify;
    font-weight: normal;
    font-size: 1rem;
    line-height: 30px;
    letter-spacing: 0.02em;
    margin: 0%;
  }
}

.services__right {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-top: 5%;
}

.services__right-hdr {
  padding-left: 7%;
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
  color: #99c5e8;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #fff;
}

@media (max-width: 768px) {
  .services__right-hdr {
    padding-left: 0%;
    font-size: 1.8rem;
  }
}

.services__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

@media (max-width: 768px) {
  .services__list {
    margin: 0;
    padding-left: 6%;
    margin: 0;
    padding: 0;
    padding-right: 6%;
  }
}

.services__list-item {
  font-size: 1em;
  display: inline-flex;
  padding: 1.5% 0;
  margin: 0 auto;
  border-bottom: 1px solid #000000;
  width: 100%;
}

.fa {
  border-radius: 10px;
  height: 30px;
  width: 30px;
  color: #424651;
  font-size: 28px;
  text-align: center;
  margin: 0 5px;
}

.footer {
  height: auto;
  background-color: #424651;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    padding: 4%;
    border-radius: 20px 20px 0px 0px;
  }
}

.footer__logos {
  display: flex;
  justify-content: space-between;
  width: 40%;
  align-items: center;
  margin-left: -5%;
}

@media (max-width: 768px) {
  .footer__logos {
    justify-content: space-between;
    padding-bottom: 4%;
    margin-left: 0%;
  }
}

.footer__logos-behelp {
  width: 38%;
  margin: auto 0;
}

@media (max-width: 768px) {
  .footer__logos-behelp {
    width: 60%;
  }
}

.footer__logos-hyf {
  width: 20%;
  background-color: #f5f2ef;
  padding: 0.4rem;
}

@media (max-width: 768px) {
  .footer__logos {
    width: 90%;
  }
}

.footer__cont2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .footer__cont2 {
    padding-bottom: 2%;
    justify-content: space-between;
  }
}

.footer__cont2-text {
  margin: 4px 0;
  width: 100%;
}

@media (max-width: 768px) {
  .footer__cont2-text {
    width: 100%;
    flex-wrap: unset;
  }
}

.footer__cont2-text p {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1rem;
  color: #f5f2ef;
  line-height: 2.3rem;
  text-align: justify;
}

.footer__cont2-icons {
  display: flex;
  padding-top: 10%;
}

@media (max-width: 768px) {
  .footer__cont2-icons {
    padding-top: 10%;
    margin-right: -2%;
  }
}

.footer__cont2-icons a {
  background-color: #f5f2ef;
  height: 25px;
  width: 25px;
  border-radius: 50px;
  margin: 0 5px;
}

.footer__cont2-icons a .fa {
  border-radius: 10px;
  height: 25px;
  width: 25px;
  font-size: 24px;
  text-align: center;
  margin: 0px;
}

.footer__cont2-icons .fa :hover {
  opacity: 0.7;
}
/*# sourceMappingURL=style.css.map */